
.navbar-brand{
    font-size: 30px;
}

#side-menu li{
    font-size: 22px;
}

.login-error {
    color: #d70000;
}


/* ====================TABLES STYLES==================== */
.table-hosts td{
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

thead tr td{
    font-size: 16px;
    font-weight: bold;
}

.thosts-name{
    width: 200px;
}

.thosts-action{
    width: 120px;
}

.page-header .btn{
    font-size: 22px;
    width: 44px;
}

.page-header .right{
    float: right;
}

/* ====================TABLES STYLES==================== */



/* =====================FORM HOSTS====================== */
#formHostEditor .textarea-hosts{
    resize: none;
}
/* =====================FORM HOSTS====================== */



























